section ul li {
    text-decoration: none;
    color: black;
    font-weight: bold;
  
}

section ul {
    list-style: none;
}

section nav ul {
    flex-direction: column;
    list-style: none;
    align-items: flex-start;
}

footer section {
    flex: 0 0 1;
}
footer figure {
    flex: 0 0 250px;
    align-self: center;
    padding: 0;
}

figure img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 75%;
}